<router-outlet></router-outlet>
<div *ngIf="showMainContent">
<div class="search-wrapper sticky-top" [style.background-color]="isNavCollapse ? '#ffc107' : 'transparent'"
  [class.shadow-sm]="isNavCollapse">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-inline-block" hidden>
        <i class="fas fa-bars nav-icon" hidden></i>
      </div>
      <div class="d-inline-block">
        <img class="img-logo"
          src="https://i.ibb.co/q9HQtT1/kisspng-angularjs-ruby-on-rails-typescript-web-application-icon-hacker-5ad97b80444060-94375043152420.png" />
      </div>
      <div class="d-inline-block" (click)="toggleSearch()">
        <i class="fas fa-search nav-icon"></i>
      </div>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="!isCollapsed">
      <input #searchInput type="text" class="form-control input-search" placeholder="Search Users..."
        (input)="search(searchInput.value)">

    </div>
  </div>
</div>

<div class="container px-0">
  <h3 class="main-title">Users</h3>
  <br><br>
  <drag-scroll #nav [scroll-x-wheel-enabled]="true">
    <div *ngFor="let user of users" drag-scroll-item (click)="navigateToUserDetail(user.id)">
      <div class="card shadow-sm">
        <img [src]="user.avatar" class="card-img-top" alt="{{user.first_name}}">
        <div class="card-body">
          <h6 class="card-title">{{user.first_name}} {{user.last_name}}</h6>
          <p class="card-text">{{user.email}}</p>
        </div>
      </div>
    </div>
  </drag-scroll>

  <!-- Pagination Controls -->
  <div class="pagination-controls" style="text-align: center;">
    <button (click)="paginateUsers(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
    <button (click)="paginateUsers(currentPage + 1)" [disabled]="currentPage >= total_pages">Next</button>
  </div>

  <div class="bottom-placeholder"></div>
  <div #thankYouNote [@scaleUpOnView]="thankYouNoteInView ? 'inView' : 'outOfView'" class="thank-you-note">
    <h2>Thank you!</h2>
  </div>

  <div class="bottom-placeholder"></div>
</div>

</div>

<div class="cart-wrapper fixed-bottom text-center">
  <small class="author d-block">Designed by <a href="https://www.linkedin.com/in/gabriel-ghoussoub/"
      class="author-link">Gabriel Ghoussoub</a>. Powered by <i class="fab fa-angular"></i></small>
</div>